<div class="container-fluid">
  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-xs-12 col-md-5">

      <br>
      <h1>Log in</h1>
      <hr>

      <%= form_tag sessions_path, html: {class: "horizontal"} do %>

        <div class="form-group">
          <div class="col-xs-4 control-label">
            <%= label_tag :email %>
          </div>
          <div class="col-xs-8" style="margin-bottom:1em;">
            <%= text_field_tag :email, nil, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-4 control-label">
            <%= label_tag :password %>
          </div>
          <div class="col-xs-8" style="margin-bottom:1em;">
            <%= password_field_tag :password, nil, :class => "form-control" %>
          </div>

          <div class="text-right" style="margin:1em;">
            <%= submit_tag 'Log in', class: "btn btn-primary"  %>
          </div>
        </div>

      <% end %>

    </div>

    <div class="col-xs-12 col-md-5">

      <br>
      <h1>Or, create an account</h1>
      <hr>

      <%= form_for Fan.new, html: {class: "horizontal"} do |f| %>

        <div class="form-group">
          <div class="col-xs-4 control-label">
            <%= f.label :name %>
          </div>
          <div class="col-xs-8" style="margin-bottom:1em;">
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-4 control-label">
            <%= f.label :email %>
          </div>
          <div class="col-xs-8" style="margin-bottom:1em;">
            <%= f.text_field :email, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-4 control-label">
            <%= f.label :password %>
          </div>
          <div class="col-xs-8" style="margin-bottom:1em;">
            <%= f.password_field :password, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-4 control-label">
            <%= f.label :password_confirmation %>
          </div>
          <div class="col-xs-8" style="margin-bottom:1em;">
            <%= f.password_field :password_confirmation, :class => "form-control" %>
          </div>
        </div>

        <div class="text-right" style="margin:1em;">
          <%= f.submit "Create my account", class: "btn btn-primary" %>
        </div>

        <br><br>

      <% end %>
    </div>
  </div>
</div>
