
<div class="container" style="margin-bottom: 2em">
	<h1 style="margin-bottom: 1em">Your Cart</h1>

  <table class="table table-striped">
    <thead>
    	<tr>
        <th>Product Title</th>
        <th>Quantity</th>
				<th><span class="pull-right">Price</span></th>
      </tr>
    </thead>
    <tbody>
			<% total = 0 %>
			<% @cart.each do | id, quantity | %>
				<% product = Product.find_by_id(id) %>
				<% next if product.nil? %>
      <tr>
        <td><%= product.title %></td>
        <td><%= quantity %></td>
				<td><span class="pull-right"><%= number_to_currency(product.price, :unit => '$') %></span></td>
      </tr>
			<% total += quantity * product.price %>
		<% end %>
    </tbody>
  </table>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

<span class="pull-right" style="margin-top: 2em">
	<p class="text-right"><b>Total: <%= number_to_currency(total, :unit => '$') %></b>
	</p>
	<p class="text-right">
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
										data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
										data-description="PURCHASE YOUR MERCH"
										data-amount=""
										data-locale="auto"></script>
	</p>
	<% if @cart.empty? %>
	<h3 style="margin-top: 5em; margin-bottom: .5em">Your cart is currently empty</h3>
	<% else %>
	<h3 style="margin-top: 5em; margin-bottom: .5em"><%= link_to "Empty Cart", cart_clear_path %></h3>
	<% end %>
	</span>
<% end %>
</div>
