<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <h2>Trending Artists</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

      <% @artists.each do |artist| %>

      <div class="col-xs-6 col-md-3">
        <%= link_to artist.name, artist, :class => "artist-name" %>
        <img src="http://placehold.it/250x250">
      </div>

      <% end %>

  </div>
  <br>
</div>

<div class="container-full" style="background-color:#5AADFF">
  <div class="row">
    <h2 style="text-align:center;color:white;line-height:100px;">LOVED ARTISTS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

      <% @artists.each do |artist| %>

      <div class="col-xs-6 col-md-3">
        <%= link_to artist.name, artist, :class => "artist-name" %>
        <div style="position:relative; z-index:1">
          <img src="http://placehold.it/250x250">
        </div>
      </div>

      <% end %>

  </div>
  <br>
</div>

<div class="container-full" style="background-color:#5AADFF">
  <div class="row">
    <h2 style="text-align:center;color:white;line-height:100px;">FRIENDS' LOVED ARTISTS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

      <% @artists.each do |artist| %>

      <div class="col-xs-6 col-md-3">
        <%= link_to artist.name, artist, :class => "artist-name" %>
        <div style="position:relative; z-index:1">
          <img src="http://placehold.it/250x250">
        </div>
      </div>

      <% end %>

  </div>
  <br>
</div>

<br>

<h3>Want to be featured on FanLuv? <%= link_to 'Signup Here!', new_artist_path %>
