<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <h2>Trending Artists</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

      <% @artists.each do |artist| %>

      <div class="col-xs-6 col-md-3">
        <%= link_to artist.name, artist, :class => "artist-name" %>
        <%= image_tag artist.image_url, :class => "img-250" %>
      </div>

      <% end %>

  </div>
  <br>
</div>

<div class="container-full subhead">
  <div class="row">
    <h2>LOVED ARTISTS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

      <% @artists.each do |artist| %>

      <div class="col-xs-6 col-md-3">
        <%= link_to artist.name, artist, :class => "artist-name" %>
        <div style="position:relative; z-index:1">
          <%= image_tag artist.image_url, :class => "img-250" %>
        </div>
      </div>

      <% end %>

  </div>
  <br>
</div>
