<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6" style="padding-left:4em;">
      <h1>Artist Sign Up</h1>
    </div>

    <div class="col-xs-12 col-md-6">
        <%= form_for @artist do |f| %>
          <div class="form-group">
            <div class="col-xs-4 control-label">
              <%= f.label :name %>
            </div>
            <div class="col-xs-8" style="margin-bottom:1em;">
              <%= f.text_field :name, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-4 control-label">
              <%= f.label :email %>
            </div>
            <div class="col-xs-8" style="margin-bottom:1em;">
              <%= f.text_field :email, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-4 control-label">
              <%= f.label :description %>
            </div>
            <div class="col-xs-8" style="margin-bottom:1em;">
              <%= f.text_field :description, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-4 control-label">
              <%= f.label :image_url %>
            </div>
            <div class="col-xs-8" style="margin-bottom:1em;">
              <%= f.text_field :image_url, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-4 control-label">
              <%= f.label :password %>
            </div>
            <div class="col-xs-8" style="margin-bottom:1em;">
              <%= f.password_field :password, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-4 control-label">
              <%= f.label :password_confirmation %>
            </div>
            <div class="col-xs-8" style="margin-bottom:1em;">
              <%= f.password_field :password_confirmation, :class => "form-control" %>
            </div>
          </div>

          <div class="text-right" style="margin:1em;">
            <%= f.submit "Create my account", class: "btn btn-primary" %>
          </div>

        <% end %>
    </div>
  </div>
</div>
