<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" src="http://placehold.it/1000x1000">
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="artist-title"><%= @artist.name %></div>
      <p class="artist-detail">Brunch portland sartorial artisan typewriter. Sustainable cliche ennui ethical. Messenger bag artisan literally gastropub. Fingerstache leggings food truck gastropub pork belly pour-over williamsburg chicharrones authentic. Poutine cornhole affogato, before they sold out umami pabst yuccie ugh cronut selvage. Flexitarian before they sold out chambray locavore tattooed trust fund kogi. 8-bit letterpress retro heirloom chartreuse taxidermy.</p>


      <%= link_to image_tag("http://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg"), ItunesSearchController.search(@artist.name), alt: 'Search artist on Apple Music', margin: 0 %>



      <p>
				<% if current_artist == @artist %>
				<td><%= link_to 'Edit', edit_artist_path(@artist) %></td>
				<td><%= link_to 'Delete', @artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>

    </div>
  </div>
</div>

<div class="container-full" style="background-color:#5AADFF;margin-top:1em;">
  <div class="row">
    <h2 style="text-align:center;color:white;line-height:100px;">ALBUMS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">

        <div class="col-xs-6 col-md-3" style="padding-top:1em">
          <img class="img-responsive" src="http://placehold.it/1000x1000">
        </div>
        <div class="col-xs-6 col-md-3" style="padding-top:1em">
          <img class="img-responsive" src="http://placehold.it/1000x1000">
        </div>
        <div class="col-xs-6 col-md-3" style="padding-top:1em">
          <img class="img-responsive" src="http://placehold.it/1000x1000">
        </div>
        <div class="col-xs-6 col-md-3" style="padding-top:1em">
          <img class="img-responsive" src="http://placehold.it/1000x1000">
        </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p class="btn-more" href="#">MORE</p>
    </div>
  </div>
</div>


<div class="container-full" style="background-color:#5AADFF;margin-top:1em;">
  <div class="row">
    <h2 style="text-align:center;color:white;line-height:100px;">TOUR DATES</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div id="map"></div>
      <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 42.361239, lng: -83.06701},
            zoom: 8
          });
        }
      </script>
    </div>

    <div class="col-xs-12 col-md-4">
      <br>
      <h2>Next tour stop</h2>
      <br>
      <h3>April 9, 2016</h3>
      <h3>Detroit, MI</h3>
      <h4><a href="http://www.detroitlions.com/ford-field/">Ford Field</a></h4>

      <div class="btn" style="vertical-align:bottom;">
        <a href="#">Find Tickets</a>
      </div>

    </div>

    <div class="col-xs-12 col-md-4" >
      <br>
      <h3>Upcoming Stops</h3>
      <br>
      <p>April 13, 2016 -- St. Louis, MO</P>
      <p>April 13, 2016 -- St. Louis, MO</P>
      <p>April 13, 2016 -- St. Louis, MO</P>
      <p>April 13, 2016 -- St. Louis, MO</P>
      <p>April 13, 2016 -- St. Louis, MO</P>
    </div>

  </div>
</div>


<div class="container-full" style="background-color:#5AADFF;margin-top:1em;">
  <div class="row">
    <h2 style="text-align:center;color:white;line-height:100px;">PRESS</h2>
  </div>
</div>

<div class="container-full" style="background-color:#5AADFF;margin-top:1em;">
  <div class="row">
    <h2 style="text-align:center;color:white;line-height:100px;">FANS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">

      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p class="btn-more" href="#">MORE</p>
    </div>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJkhQiESw05ouG4NPsr1ByVjBs46KOBLw&callback=initMap"
async defer></script>
