<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <%= image_tag @artist.image_url, :class => "img-responsive", :style => "margin-bottom:1em;" %>
    </div>

    <div class="col-xs-12 col-md-6">
      <p class="artist-title"><%= @artist.name %></p>

      <% if current_fan %>
        <% if current_fan.luvs?(@artist) %>
          <%= render 'unluv_form' %>
        <% else %>
          <%= render 'luv_form' %>
        <%end%>
      <%end%>

      <p class="artist-description"><%= @artist.description %></p>

      <p class="artist-description"><%= link_to image_tag("http://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg"), ItunesSearchController.search(@artist.name), alt: 'Search artist on Apple Music', margin: 0 %></p>

      <p>
    		<% if current_artist == @artist %>
    		<%= link_to 'Edit', edit_artist_path(@artist) %>
    		<%= link_to 'Delete', @artist, method: :delete, data: { confirm: 'Are you sure?' } %>
    		<% end %>
      </p>

    </div>
  </div>
</div>

<div class="container-full subhead">
  <div class="row">
    <h2>ALBUMS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= @artist.album1image %>);background-size:cover;">
        <%= link_to @artist.album1title, "#{@artist.album1itunes}", :class => "artist-name force-to-bottom" %>
      </div>

      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= @artist.album2image %>);background-size:cover;">
        <%= link_to @artist.album2title, "#{@artist.album2itunes}", :class => "artist-name force-to-bottom" %>
      </div>

      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= @artist.album3image %>);background-size:cover;">
        <%= link_to @artist.album3title, "#{@artist.album3itunes}", :class => "artist-name force-to-bottom" %>
      </div>

      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= @artist.album4image %>);background-size:cover;">
        <%= link_to @artist.album4title, "#{@artist.album4itunes}", :class => "artist-name force-to-bottom" %>
      </div>
    </div>
  </div>

  <p class="btn-more"><%= link_to "MORE", ItunesSearchController.search(@artist.name) %><i class="fa fa-caret-square-o-right"></i></p>

</div>

<div class="container-full subhead" style="">
  <div class="row">
    <h2>TOUR DATES</h2>
  </div>
</div>
<% if @json['response']['gigs'] == [] %>
<h3 class="text-center" style="margin-top: 1em">This artist currently has no tour dates.</h3>
<% else %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div id="map"></div>
      <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @json['response'].first[1][0]['venue']['location']['latitude'] %>, lng: <%= @json['response'].first[1][0]['venue']['location']['longitude'] %>
},
            zoom: 11
          });
        }
      </script>
    </div>
    <div class="col-xs-12 col-md-4" style="margin-top:1em;">
      <h3>Upcoming Tour Stops</h3>
      <hr><% @json['response']['gigs'].each do |x| %>
      <p><span class="tourcity"><%= x["venue"]["location"]["city"] %> </span><span class="venue"><%= x["venue"]["name"] %></span><span class="tourdates"> / <%= x["startDate"].to_time.strftime("%b %d")%></span></p>
        <% end %>
    </div>

  <% if @json['response']['gigs'].first['tickets_url'] == nil %>
  <div class="col-xs-12 col-md-4" style="margin-top:1em;">
    <h4 class="text-center" style="margin-top: 1em">Tickets for the next upcoming show are not available online. Please check with the venue for ticket sales.</h4>
    <h4 class="text-center" style="margin-top:3em">Want to go a show, but don't have any friends to go with? Find some from our partners at AmpedUp!</h4><br>
    <a href="http://www.amped-up.co" target="_blank"><img src="https://dl.dropboxusercontent.com/u/36209109/fanluv/ampedup.png" style="max-width:100%; max-height:100%;"></a>
  </div>

  <% else %>
      <div class="col-xs-12 col-md-4" style="margin-top:1em;">
      <% @linky = (@json['response']['gigs'].first['tickets_url']) %>
      <%= link_to "Find Tickets", @linky, class: "btn ticket-btn", target: "_blank" %>
      <h4 class="text-center" style="margin-top:3em">Want to go this show, but don't have any friends to go with? Find some from our partners at AmpedUp!</h4>
      <a href="http://www.amped-up.co" target="_blank"><img src="https://dl.dropboxusercontent.com/u/36209109/fanluv/ampedup.png" style="max-width:100%; max-height:100%;"></a>
      </div>
  <% end %>

  <% end %>
  </div>
</div>

<% if current_fan || current_artist %>
  <div class="container-full subhead">
    <div class="row">
      <h2>MERCH</h2>
    </div>
  </div>

<% if current_artist == @artist %>
  <%= link_to 'ADD MORE MERCH', new_product_path, class: "container-full" %>
<% end %>

<div class="container-full">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <% @artist.products.each do |product| %>
        <div class="col-xs-6 col-md-3 text-center">

          <%= link_to image_tag(product.image_url, :class => "img-200"), product %><br>
          <p class="merch-price">$<%= product.price %><%= link_to product.title, product, :class => "merch-title" %></p>
        </div>
      <% end %>

    </div>
  </div>
</div>
<% end %>



<div class="container-full subhead">
  <div class="row">
    <h2>NEWS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-6 col-md-3">
      <div class="note">

        <h4>New exclusive merchandise in the store:</h4>
        <ul class="news">
          <li>A Super Awesome Shirt</li>
          <li>Limited Edition Red Vinyl</li>
          <li>A Ton Of New Stickers</li>
          <li>Gnarly Coaster Set</li>
        </ul><br>
        <p>Hurry to the store before they're all snatched up!</p>

        <p><a class="note_rm" href="#">Read more <i class="fa fa-caret-right"></i></a></p>

      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="note">

        <h4>Notes from the road:</h4>
        <p>Four dollar toast disrupt cold-pressed bespoke. Gochujang franzen tilde, gluten-free pop-up food truck sustainable asymmetrical shoreditch lo-fi try-hard trust fund biodiesel church-key raw denim. Meh beard jean shorts, gastropub quinoa viral heirloom.</p>

        <p><a class="note_rm" href="#">Read more <i class="fa fa-caret-right"></i></a></p>

      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="note">

        <h4>Pitchfork reviews our latest album:</h4>
        <p>Celiac cronut tattooed selfies, gastropub photo booth fashion axe forage tacos gentrify tote bag ramps chia. Venmo intelligentsia street art taxidermy, readymade health goth microdosing plaid forage cliche.</p>

        <p><a class="note_rm" href="#">Read more <i class="fa fa-caret-right"></i></a></p>

      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="note">

        <h4>Exclusive pre-sale show tickets for our FanLUV fans coming soon:</h4>
        <p>Aesthetic bitters sustainable green juice. Artisan kogi vinyl banjo quinoa forage franzen kinfolk ethical try-hard, you probably haven't heard of them put a bird on it gastropub before they sold out. </p>

        <p><a class="note_rm" href="#">Read more <i class="fa fa-caret-right"></i></a></p>

      </div>
    </div>

  </div>

  <p class="btn-more"><a href="#">MORE <i class="fa fa-chevron-circle-down"></i></a></p>

</div>


<div class="container-full subhead">
  <div class="row">
    <h2>FANS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <% @artist.luvs.each do |luv| %>
      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= luv.fan.image_url %>);background-size:cover;">
        <%= link_to luv.fan.name, luv.fan, :class => "artist-name force-to-bottom" %>
      </div>
      <%end%>

    </div>
  </div>
</div>

<br>
<br>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJkhQiESw05ouG4NPsr1ByVjBs46KOBLw&callback=initMap"
async defer></script>
