<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <%= image_tag @artist.image_url, :class => "img-responsive", :style => "margin-bottom:1em;" %>
    </div>

    <div class="col-xs-12 col-md-6">
      <p class="artist-title"><%= @artist.name %></p>

      <%= render 'luv_form' if current_fan %>

      <p class="artist-description"><%= @artist.description %></p>

      <p class="artist-description"><%= link_to image_tag("http://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg"), ItunesSearchController.search(@artist.name), alt: 'Search artist on Apple Music', margin: 0 %></p>

      <p>
    		<% if current_artist == @artist %>
    		<%= link_to 'Edit', edit_artist_path(@artist) %>
    		<%= link_to 'Delete', @artist, method: :delete, data: { confirm: 'Are you sure?' } %>
    		<% end %>
      </p>

    </div>
  </div>
</div>

<div class="container-full subhead">
  <div class="row">
    <h2>ALBUMS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= @artist.album1image %>);background-size:cover;">
        <%= link_to @artist.album1title, "#{@artist.album1itunes}", :class => "artist-name force-to-bottom" %>
      </div>

      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= @artist.album2image %>);background-size:cover;">
        <%= link_to @artist.album2title, "#{@artist.album2itunes}", :class => "artist-name force-to-bottom" %>
      </div>

      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= @artist.album3image %>);background-size:cover;">
        <%= link_to @artist.album3title, "#{@artist.album3itunes}", :class => "artist-name force-to-bottom" %>
      </div>

      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= @artist.album4image %>);background-size:cover;">
        <%= link_to @artist.album4title, "#{@artist.album4itunes}", :class => "artist-name force-to-bottom" %>
      </div>
    </div>
  </div>

  <p class="btn-more"><a href="#">MORE <i class="fa fa-caret-square-o-right"></i></a></p>

</div>

<div class="container-full subhead">
  <div class="row">
    <h2>TOUR DATES</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div id="map"></div>
      <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 42.361239, lng: -83.06701},
            zoom: 8
          });
        }
      </script>
    </div>


    <div class="col-xs-12 col-md-4">
      <h3>Next Stop</h3>
      <hr>
      <h4>April 9, 2016 / / Detroit, MI</h4>

      <p class="tourdates"><a href="http://www.detroitlions.com/ford-field/">Ford Field</a></p>

      <a class="btn ticket-btn" href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets <i class="fa fa-ticket"></i></a>

    </div>

    <div class="col-xs-12 col-md-4">
      <h3>Upcoming Stops</h3>
      <hr>
      <p class="tourdates">March 26, 2016 / / Dubai, United Arab Emerates</P>
      <p class="venue">Barclaycard Arena | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets <i class="fa fa-ticket"></i></a></p>
      <p class="tourdates">March 30, 2016 / / Birmingham, United Kingdom</P>
      <p class="venue">Barclaycard Arena | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets <i class="fa fa-ticket"></i></a></p>
      <p class="tourdates">March 31, 2016 / / London, United Kingdom</P>
      <p class="venue">The O2 | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets <i class="fa fa-ticket"></i></a></p>
      <p class="tourdates">April 2, 2016 / / Dublin, Ireland</P>
      <p class="venue">3Arena | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets <i class="fa fa-ticket"></i></a></p>
      <p class="tourdates">April 4, 2016 / / Glasgow, United Kingdom</P>
      <p class="venue">The SSE Hydro | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets <i class="fa fa-ticket"></i></a></p>
    </div>
  </div>
</div>

<div class="container-full subhead">
  <div class="row">
    <h2>MERCH</h2>
  </div>
</div>

<div class="container-fluid merch">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>Filter by: <a href="#">Albums</a> | <a href="#">Wearables</a> | <a href="#">Memorabilia</a></p>
    </div>

    <div class="col-xs-6 col-md-3" style="padding-top:1em">
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/1515/fanluv/merch/tshirt1.jpg">
    </div>
    <div class="col-xs-6 col-md-3" style="padding-top:1em">
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/1515/fanluv/merch/tshirt2.jpg">
    </div>
    <div class="col-xs-6 col-md-3" style="padding-top:1em">
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/1515/fanluv/merch/tshirt3.jpg">
    </div>
    <div class="col-xs-6 col-md-3" style="padding-top:1em">
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/1515/fanluv/merch/tshirt4.jpg">
    </div>
  </div>

  <p class="btn-more" href="#">MORE <i class="fa fa-chevron-circle-down"></i></p>

</div>

<div class="container-full subhead">
  <div class="row">
    <h2>NEWS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="note">

        <h4>Madonna on Social Media – All the pictures and videos!</h4>
        <p>Here's an overview of all the pictures and videos that have been posted on Madonna's official Instagram account and other social media. 10 March 2016 Clown Squad #tearsofaclown This Clown ... </p>
        <p><a class="note_rm" href="#">Read more <i class="fa fa-lg fa-arrow-right"></i></a></p>

      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="note">

        <h4>Madonna Mania is about to hit Melbourne on Friday March 11th</h4>
        <p>Just Like A Prayer, Chapel Off Chapel will take you there… to celebrate the Queen of Pop’s arrival in Melbourne after 23 years with a pre-show party and everybody is invited!</p>
        <p><a class="note_rm" href="#">Read more <i class="fa fa-lg fa-arrow-right"></i></a></p>

      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="note">

        <h4>Possible song choice for the unique MADONNA: TEARS OF A CLOWN fan show</h4>
        <p>The unique fan show MADONNA: TEARS OF A CLOWN will fuse music, art and comedy tomorrow at Melbourne’s historic Forum Theatre! Madonna and her crew have been rehearsing for the past two days and here are some of the songs that were overheard by fans outside the venue…</p>
        <p><a class="note_rm" href="#">Read more <i class="fa fa-lg fa-arrow-right"></i></a></p>

      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="note">

        <h4>Japanese MDNA Skin interview with Madonna about the secret of beauty</h4>
        <p>BS Fuiji’s ANSWERS showed a new Madonna interview for the promotion of her skincare line, MDNA Skin, where Madonna talked about the creative process behind MDNA Skin and the secret of beauty!</p>
        <p><a class="note_rm" href="#">Read more <i class="fa fa-lg fa-arrow-right"></i></a></p>

      </div>
    </div>
  </div>

  <p class="btn-more" href="#">MORE <i class="fa fa-chevron-circle-down"></i></p>

</div>


<div class="container-full subhead">
  <div class="row">
    <h2>FANS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <% @artist.luvs.each do |luv| %>
      <div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= luv.fan.image_url %>);background-size:cover;">
        <%= link_to luv.fan.name, luv.fan, :class => "artist-name force-to-bottom" %>
      </div>
      <%end%>

    </div>
  </div>
</div>

<br>
<br>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJkhQiESw05ouG4NPsr1ByVjBs46KOBLw&callback=initMap"
async defer></script>
