<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= image_tag @artist.image_url, :class => "img-responsive" %>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="artist-title">
        <%= @artist.name %>
        <h3><%= render 'luv_form' if current_fan %></h3>
      </div>

      <p class="artist-detail"><%= @artist.description %></p>

      <%= link_to image_tag("http://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg"), ItunesSearchController.search(@artist.name), alt: 'Search artist on Apple Music', margin: 0 %>

      <p>
			<% if current_artist == @artist %>
			<td><%= link_to 'Edit', edit_artist_path(@artist) %></td>
			<td><%= link_to 'Delete', @artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
      </p>
    </div>
  </div>
</div>

<div class="container-full subhead">
  <div class="row">
    <h2>ALBUMS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">

        <div class="col-xs-6 col-md-3" style="padding-top:1em">
          <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/1515/fanluv/albums/rihanna_anti.jpg">
        </div>
        <div class="col-xs-6 col-md-3" style="padding-top:1em">
        <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/1515/fanluv/albums/rihanna_unapologetic.jpg">
        </div>
        <div class="col-xs-6 col-md-3" style="padding-top:1em">
          <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/1515/fanluv/albums/rihanna_loud.jpg">
        </div>
        <div class="col-xs-6 col-md-3" style="padding-top:1em">
          <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/1515/fanluv/albums/rihanna_rated_r.jpg">
        </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p class="btn-more" href="#">MORE</p>
    </div>
  </div>
</div>


<div class="container-full subhead">
  <div class="row">
    <h2>TOUR DATES</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div id="map"></div>
      <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 42.361239, lng: -83.06701},
            zoom: 8
          });
        }
      </script>
    </div>

    <div class="col-xs-12 col-md-4">
      <br>
      <h3>Next Stop</h3>
      <hr>
      <h4>April 9, 2016 / / Detroit, MI</h4>

      <p><a href="http://www.detroitlions.com/ford-field/">Ford Field</a></p>

      <a class="btn ticket-btn" href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets</a>

    </div>

    <div class="col-xs-12 col-md-4" >
      <br>
      <h3>Upcoming Stops</h3>
      <hr>
      <p>March 26, 2016 / / Dubai, United Arab Emerates</P>
        <p class="venue">Barclaycard Arena | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets</a></p>
      <p>March 30, 2016 / / Birmingham, United Kingdom</P>
        <p class="venue">Barclaycard Arena | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets</a></p>
      <p>March 31, 2016 / / London, United Kingdom</P>
        <p class="venue">The O2 | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets</a></p>
      <p>April 2, 2016 / / Dublin, Ireland</P>
        <p class="venue">3Arena | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets</a></p>
      <p>April 4, 2016 / / Glasgow, United Kingdom</P>
        <p class="venue">The SSE Hydro | <a href="http://www.ticketmaster.com/rihanna-anti-world-tour-2016-miami-florida-03-15-2016/event/0D004F74E49DBB97?ac_link=tmplus_merch_sitespotlight_LSC_GTVopp&pageType=home&spotlight=1%7C1317303&spotlight_ren_od=1&tm_link=tm_homeA_4_f1">Find Tickets</a></p>

    </div>
  </div>
</div>

<div class="container-full subhead">
  <div class="row">
    <h2>PRESS</h2>
  </div>
</div>

<div class="container-full subhead">
  <div class="row">
    <h2>FANS</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">

      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">

      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>
      <div class="col-xs-3 col-md-2" style="padding-top:1em">
        <img class="img-responsive" src="http://placehold.it/1000x1000">
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p class="btn-more" href="#">MORE</p>
    </div>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJkhQiESw05ouG4NPsr1ByVjBs46KOBLw&callback=initMap"
async defer></script>
