<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= image_tag @fan.image_url, :class => "img-responsive", :style => "margin-bottom:1em;" %>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="artist-title">
        <%= @fan.name %>
        <%= link_to 'Edit my profile', edit_fan_path(@fan), :class => "edit-my-profile" %> <br>
        <%= link_to 'My Shopping Cart', cart_path, :class => "edit-my-profile" %>
      </div>
    </div>
  </div>
</div>

<div class="container-full subhead">
  <div class="row">
    <h2>Luv'd Artists</h2>
  </div>
</div>

<% @fan.luvs.each do |luv| %>

<div class="col-xs-6 col-md-3 artist-container" style="background:url(<%= luv.artist.image_url %>);background-size:cover;">
  <%= link_to luv.artist.name, luv.artist, :class => "artist-name force-to-bottom" %>
</div>

<%end%>

<div class="container-fluid">
  <div class="row">
    <%= link_to 'Find more Artists here', artists_path, :class => "btn btn-more-artists" %>
  </div>
</div>



<% if current_fan == @fan %>
<%= link_to 'Delete', @fan, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
