<p id="notice"><%= notice %></p>

<div class="container" style="margin-bottom: 3em">
  <h2><%= @product.title %></h2>

  <table class="table">
    <thead>
      <tr>
        <th>Image:</th>
        <th>Description:</th>
        <th>Price:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag(@product.image_url, style: "max-height: 250px") %></td>
        <td><%= @product.description %></td>
        <td><strong>$<%= @product.price %>.00</strong></td>
      </tr>
    </tbody>
  </table>

  <span class="pull-right">

  <% if current_fan %>
  <h3><a href="/cart/<%= @product.id %>"> Add to cart</a></h3>
  <% end %>

  <% if current_artist %>
  <h3><%= link_to 'Edit', edit_product_path(@product) %></h3>
  <% end %>

</span>

</div>
